* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.desert {
    position: absolute;
    background-image: url('images/t-rex-background.png');
    height: 200px;
    width: 100%;
    animation: slideRight 600s infinite linear;
    bottom: 0;
}

@keyframes slideRight {
    from {
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}

.dino {
    background-image: url('images/t-rex.png');
    height: 60px;
    width: 60px;
    position: absolute;
    bottom: 0;
}